@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;700&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Cormorant Upright', serif;
font-family: 'Open Sans', sans-serif; */

/* shared css  */

/* for headings  */
.CormorantFont {
  font-family: "Cormorant Upright", serif;
}

/* for paragraphs  */
.sansFont {
  font-family: "Open Sans", sans-serif;
}

.goldenText {
  color: #e4c590;
}
